@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranYekan';
  src: url("/Font/IRANYekanXFaNum-Regular.woff2");
  format: "woff2"
}

html {
  scroll-behavior: smooth;
}

@keyframes reverse-spin {
  from {
      transform: rotate(450deg);
  }
  to {
      transform: rotate(90deg);
  }
}
@keyframes rereverse-spin {
  from {
      transform: rotate(270deg);
  }
  to {
      transform: rotate(630deg);
  }
}

.ltr {
  direction: ltr;
}

.solid-btn {
  @apply bg-base-300 hover:bg-base-400 text-base-100 rounded-lg text-sm md:text-base cursor-pointer transition-all duration-300
}

.outline-btn {
  @apply bg-base-100 text-base-300 border border-base-300 hover:bg-base-200 rounded-lg text-sm md:text-base cursor-pointer transition-all duration-300
}

.rectangle-btn {
  @apply md:py-2 md:px-4 px-3 py-1.5
}

.square-btn {
  @apply md:p-2 p-1.5
}

.disable-btn{
  @apply !bg-[#EDEDED] hover:!bg-[#EDEDED] !text-[#ADADAD] !cursor-not-allowed
}

* {
  font-family: 'IranYekan';
  direction: rtl;
}

.active {
  @apply flex flex-col
}

@keyframes widthAnimation {
  0%   {
    width: 0;
      opacity: 0;
}
  100% {
    width: 100%;
      opacity: 1;
}
}

.active::after {
  content: url("../public/Image/active-menu.svg");
  margin: -5px auto 0 auto;
  /* opacity: 0; */
}

.menu-item:hover{
  @apply active
}

.bg-group{
  background-image: url(/Image/group-products/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

::-webkit-scrollbar {
  @apply w-[8px] bg-base-200
}

/* قسمت متحرک */
::-webkit-scrollbar-thumb {
  @apply bg-base-300 rounded-3xl
}

#scroll::-webkit-scrollbar {
  height: 80%;
  position: absolute;
  right: 0;
  left: 100%;
  width: 5px;
  background-color: rgba(216, 216, 216, 0.623);
  border-radius: 8px;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: rgba(77, 77, 77, 0.795);
  border-radius: 12px;
}

#toggle {
  display: none;
}

#label_toggle {
  display: inline-block;;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

#label_toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

#toggle:checked + label {
  background-color: #3D8361;
}

#toggle:checked + label::before {
  transform: translateX(20px);
}

.box_container:nth-child(10){
  @apply lg:col-start-2
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 4px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 8px;
  border-radius: 8px;
  opacity: 1;
  background: #E3E3E3;
  margin: 0 , 4px;
}

.swiper-pagination-bullet-active {
  width: 36px;
  background: #FFC436;
}

.swiper-scrollbar-drag{
  @apply h-1 bg-gray-300 rounded
}
