.swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 4px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 8px;
    border-radius: 8px;
    opacity: 1;
    background: #E3E3E3;
    margin: 0 , 4px;
}

.swiper-pagination-bullet-active {
    width: 36px;
    background: #FFC436;
}